* {
    margin: 0;
    padding: 0;
    border: none;
}

ul,
li {
    list-style: none;
}

#box {
    width: 360px;
    height: 460px;
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
    margin-left: 50px;
    margin-top: 50px;
    float: left;
}

#box #middleImg {
    width: 350px;
    height: 350px;
    border: 1px solid #ccc;
    padding: 5px;
    position: relative;
}

#box #middleImg img {
    width: 350px;
    height: 350px;
}

#box #middleArea {
    width: 100px;
    height: 100px;
    background: rgba(100, 222, 200, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

#box #small {
    /*background: red;*/
    width: 360px;
    height: 50px;
    margin-top: 10px;
}

#box #small li,
#box #small li img {
    width: 48px;
    height: 48px;
}

#box #small li {
    float: left;
    border: 1px solid #ccc;
    margin-left: 10px;
    padding: 5px;
    cursor: pointer;
}

#box #bigArea {
    position: absolute;
    left: 410px;
    top: 40px;
    overflow: hidden;
    width: 620px;
    height: 400px;
    border: 1px solid #ccc;
    display: none;
    z-index: 99;
}

#box #bigArea img {
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 800px;
}
.tb-item-info-r{
    float: left;
    padding: 0 20px 20px 0;
    width: 498px;
}
.tb-wrap{
    padding-left: 25px;
}
.tb-title{
    padding: 20px 0 10px!important;
    margin-top: 10px;
}
.tb-main-title{
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    color: #3C3C3C;
    min-height: 21px;
}
.tb-title .tb-subtitle{
    margin-top: 5px;
    color: #6C6C6C;
    border-bottom: none!important;
    padding-bottom: 0!important;
}
.tb-meta{
    padding: 10px;
    background-color: #FFF2E8;
    z-index: 10;
    position: relative;
    min-height: 35px;
    display: flex;
    flex-direction: column;
}
.tb-meta li{
    display: flex;
    align-items: center;
}
.tb-detail-price{
    margin-bottom: 8px;
}
.tb-meta .tb-property-type{
    display: inline;
    float: left;
    width: 60px;
    color: #6c6c6c;
}
.tb-meta .tb-detail-price strong{
    position: relative;
    top: -2px;
    vertical-align: middle;
    padding-right: 5px;
    font-size: 24px;
    font-weight: 700;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: rgb(60, 60, 60);
    font-weight: 400;
    text-decoration: line-through;
    overflow: hidden;
}
.tb-property-cont{
    width: 360px;
    margin-top: 5px;
    margin-bottom: -5px;
    display: inline;
    float: left;
    overflow: visible;
}
.tb-promo-item-bd .tb-promo-price{
    color: #F40 !important;
    position: static;
    display: inline;
    float: left;
    padding: 0;
    margin-right: 5px !important;
    vertical-align: baseline;
    font-size: 26px !important;
    font-weight: 700 !important;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
}
.tb-property-x .tb-promo-type{
    margin-top: 5px;
    padding: 0 4px;
    height: 18px;
    line-height: 18px;
    color: #FFF;
    background: #FF8E1B;
    display: inline-block;
}
.tb-property-x .tb-promo-bd{
    position: absolute;
    top: 70px;
    left: -10px;
    z-index: 10;
    width: 478px;
    border: 1px solid #F5F5F5;
    border-top: none;
    background: #FFF;
    overflow: hidden;
}
.tb-other-discount{
    padding: 0 10px 5px 0px;
    line-height: 15px;
    font-size: 12px;
    color: #3c3c3c;
}
.tb-other-discount-content{
    padding-top: 5px;
    line-height: 25px;
}
.tb-counter{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    color: #6C6C6C;
}
.tb-counter-bd{
    display: flex;
}
.tb-rate-counter{
    border-right: 1px solid #f5f5f5;
    padding-right: 10px;
}
.tb-rate-counter a{
    display: flex;
    flex-direction: column;
}
.tb-sell-counter a{
    display: flex;
    flex-direction: column;
}
.btn{
margin: 40px;
padding-right: 20px;
}
.btn button:first-child{
    margin-right: 40px;
    width: 100px;
    height: 40px;
    border-radius: 40px;
    border-color: #F0CAB6;
    background: #FFD9BC;
}
.btn button:last-child{
    border-color: #F22D00;
    background: #F22D00;
    color: #FFF;
    width: 200px;
    height: 40px;
}
.icon-gouwuche{
    padding-right: 15px;
}
.tb-extra{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.tb-extra dl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.tb-extra dl:last-child{
    margin-left: 28px;
}
.tb-extra dl dd{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
}
.tb-extra dl dd a{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
.tb-extra dl dd a img{
    width: 16px;
    height: 16px;
}