body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0} 
body{font:12px "宋体","Arial Narrow",HELVETICA;background:#fff;}
a{color:#172c45;text-decoration:none;cursor: pointer;} 
a:hover{text-decoration: none;} 
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
.f12{
    font-size: 12px;
}
.f16{
    font-size: 16px;
}
.ind{text-indent:2em} 
.ind10{text-indent:10px;}
.noborder{border:0;}
.topbar{
    background-color: #333;
}
.area-center{
    width: 1200px;
    margin: 0 auto;
}
.topbar-container{
    height: 32px;
    color: #fff;
}
.topbar-container a:hover{
    color:#2884c7;
    text-decoration: none;
}
.bar-left{
    float: left;
}
.bar-right{
    float: right;
}
.bar-left li{
    float: left;
    line-height: 32px;
    margin: 0 18px 0 0;
}
.bar-left li a{
    color: #fff;
}
.bar-left .gap{
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #fff;
    vertical-align: -2px;
    margin: 0 5px 0 4px;
}
.bar-right li{
    float: left;
    line-height: 31px;
    text-align: center;
    padding: 0 7px 0 10px;
}
.menu-label{
    height: 31px;
    position: relative;
    border: 1px solid #333;
    border-bottom: 0;
}
.bar-right .drop-menu{
    width: 100%;
    position: absolute;
    top: 31px;
    right: -1px;
    z-index: 9999;
    background-color: #fff;
    display: none;
}
.drop-menu-link a{
    display: block;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #333;
}
.menu-label:hover{
    height: 31px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    border-bottom: 0;
}
.menu-label:hover .help{
    color: #333;
}
.menu-label:hover .drop-menu{
    display: block;
    border: 1px solid #ddd;
    border-top: 0;
}
 .drop-menu-link a:hover{
     color: #2884c7;
 }
 .menu-label .help{
     color: #fff;
 }
 .drop-menu .drop-menu-link:hover{
     color: #2884c7;
 }
 .phone{
     color: #fff;
 }
 .main-head{
     background-color: #fff;
 }
 .menu-label:hover .phone{
    color: #333;
}
.drop-menu.qrcode-wrap{
    width: 264px;
    padding: 10px 10px 0;
}
.qrcode-pic{
    float: left;
    width: 120px;
    padding: 10px 10px 0;
    color: #333;
}
.app_download_wrap{
    float: right;
    width: 88px;
    height: 102px;
    border: 1px solid #ddd;
    margin: 8px 0 0;
    position: relative;
}
.app_download_wrap .close{
    position: absolute;
    top: -1px;
    right: -15px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    color: #494949;
    font-size: 12px;
    background-color: #e9e9e9;
    cursor: pointer;
}
.qrcode_name{
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #666;
}
.app_download_wrap img{
    display: block;
    margin: 0 auto;
    width: 75px;
}
.main-shopping-cart{
    float: right;
    margin: 32px 0 0;
}
.qrcode-status{
    margin-right: 28px;

}
.main-shopping-cart a{
    display: block;
    width: 120px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
    color: #2884c7;
}
.icon-gouwuche{
    font-size: 18px;
    width: 24px;
    height: 24px;
}
.icon-gouwuche::before{
    top: 0;
    left: -2px;
}
.cart-name{
    display: none;
}
.icon-youjiantou1::after{
    top: -20px;
    left: 80px;
}
.icon-youjiantou1{
    width: 16px;
    height: 16px;
    position: relative;
    color: #fff;
}
.main-head-logo{
    float: left;
    width: 330px;
    height: 120px;
    position: relative;
}
.main-menu-container{
    position: absolute;
    top: 160px;
    left: 90px;
     z-index: 2000;
}
.menu-wrap{
    width: 196px;
    height: 420px;
    position: relative;
    background-color: #000c;
}
.menu-select-btn{
    width: 100%;
    padding: 18px 0 0;
}
.menu-select-btn li{
    width: 100%;
    height: 77px;
    line-height: 77px;
}
.menu-select-btn li a{
    display: block;
    color: #fff;
    font-size: 14px;
    float: left;
    padding: 0 24px;
}
.menu-content-wrap{
    position: absolute;
    top: 0;
    left: 196px;
    z-index: 2000;
    background-color:#fff;
    width: 1000px;
    height: 420px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.18);
}
.menu-content-wrap .menu-content-box{
    height: 100%;
}
.menu-content-box .menu-list.list-width-222{
    width: 222px;

}
.list-type-name strong{
    display: block;
}
.menu-list{
    float: left;
    margin: 0 0 0 24px;
}
.menu-content-box .menu-list.menu-type-1 li{
    width: 100%;
    height: 60px;
    margin: 36px 0 0;
}
.menu-content-box .menu-list.menu-type-1 li a{
    display: block;
}
.product-pic-60x60{
    float: left;
    width: 60px;
    height: 60px;
}
.product-pic-60x60 img{
    display: block;
    width: 100%;
    height: 100%;
}
.product-text{
    padding: 0 0 0 76px;
    font-size: 14px;
    line-height: 1;
}
.product-text .product-title{
    padding: 14px 0 0;
}
.product-text .product-price{
    color: #ed1c24;
    padding: 6px 0 0;
}
.menu-content-box :hover a{
    text-decoration: none;
}
.main-menu-container :hover a{
    text-decoration: none;
}
.clearfix:after{
    content: "";
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}
.list-width-180{
    width: 180px;
}
.menu-list.menu-type-3 li{
    width: 100%;
    font-size: 14px;
    margin: 20px 0 0;
}
.product-pic-40x40{
    float: left;
    width: 40px;
    height: 40px;
}
.product-pic-40x40 img{
    display: block;
    width: 100%;
    height: 100%;
}
.menu-type-3 li .product-text{
    padding: 0 0 0 49px;
    font-size: 14px;
}
.list-width-160{
    width: 160px;
}
.Le_headother_serch{
    float: left;
    margin: 32px 0 0 0;
    position: relative;
    width: auto;
    border: 0;
}
.Le_headother_serch .f-search-text{
    float: left;
    width: 450px;
    border: 2px solid #2884c7;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 12px;
    margin: 0;
    outline: 0;
    font-size: 14px;
}
.Le_headother_serch .f-search-btn{
    float: left;
    width: 134px;
    height: 40px;
    background-color: #2884c7;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.f-search-btn .gap{
    margin: 0 7px;
}
.L_popupmenu{
    display: none;
    position: absolute;
    top: 40px;
    left: 0px;
    z-index: 2000;
    border: 1px solid #d6d6d6;
    border-top: 0;
    background-color: #fff;
    width: 463px;
    padding: 5px 0;
    height: auto;
}
.L_popupmenu .box{
    border: none;
    position: static;
}
.search_hotkey{
    line-height: 24px;
}
.menu-select-btn li.active{
    background-color: #2884c7;
}
.main-message-container{
    margin: 0 0 12px;
    height: 420px;
}
* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

html, body {
	position: relative;
	height: 100%;
}

img {
	display: block;
}

body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}

.pcHidden {
	display: none;
}

header {
	position: absolute;
	width: 100%;
	height: 60px;
	left: 0;
	top: 0;
	z-index: 30;
	background: rgba(255,255,255,.7);
}

header ul li {
	padding: 0 20px;
	border-right: 1px solid #fff;
	float: left;
	line-height: 60px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-container .swiper-pagination {
	left: 30px;
	bottom: 20px !important;
	width: auto;
}

.swiper-container .swiper-slide {
	position: relative;
	overflow: hidden;
}

.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background: none;
	border: 1px solid #fff;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background: #fff;
}

.full {
	position: absolute;
}

.full img {
	width: 100%;
}

.swiper-slide{
    position: absolute;
     top: 0; 
     height: 600px;
}

.homepage-left100 {
	width: 100%;
	position: absolute;
	left: 100%;
	top: 44%;
	z-index: 10;
	transform: translate(-50%, -50%);
}

.homepage-left100 .txt {
	text-transform: uppercase;
	font-size: 48px;
	letter-spacing: 16px;
	line-height: 72px;
}
footer {
	width: 100%;
	height: 70px;
	position: absolute;
	bottom: 0;
	background: #fff;
	z-index: 30;
	line-height: 70px;
	text-indent: 30px;
}

@media  only screen and (max-width:768px) {
	header,footer {
		position: static;
	}

	.swiper-container {
		height: auto;
	}

	.swiper-button-prev,.swiper-button-next,header ul li:not(:first-child) {
		display: none;
	}

	.homepage-left100 .txt {
		font-size: 24px;
		letter-spacing: 8px;
		line-height: 36px;
	}

	.txtCenter .txt {
		font-size: 60px;
		letter-spacing: 0;
		line-height: 55px;
	}

	.swiper-container .swiper-pagination {
		bottom: 10px;
	}

	.pcHidden {
		display: block;
	}
}	
.full{
    top: 0;
}
.full,.preload,.middle{
    height: 460px !important;
    top: 0 !important;
}
.full img{
    width: 100%;
    height: 100%;
}
.menu-wrap{
    position: absolute;
    top: -7px;
    left: 0px;
}
.positon-container{
    position: relative;
    height: 0;
    content: '.';
    display: block;
}
.user-news-container{
    position: absolute;
    top: -412px;
    right: 0;
    z-index: 1000;
}
.user-news-wrap{
    width: 238px;
    height: 380px;
    padding: 24px 0 0;
    background-color: #fffffff2;
}
.user-box{
    height: 168px;
}
.user-box .logout-wrap{
    text-align: center;
}
.user-headimg img{
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
}
.user-title{
    padding: 5px 0 0;
}
.user-desc{
    padding: 2px 0 0;
    color: #999;
}
.user-btn{
    padding: 9px 0 24px;
}
.user-btn a{
    display: inline-block;
    width: 98px;
    height: 32px;
    line-height: 32px;
    margin: 0 5px;
    border-radius: 4px;
    font-size: 14px;
}
.login-entry{
    color: #fff;
    background-color: #2884c7;
}
.register-entry{
    color: #333;
    background-color: #e6e6e6;
}
.news-box{
    margin: 0 6px;
    border-top: 1px solid #e6e6e6;
}
.news-header{
    padding: 20px 8px 0;
}
.more{
    float: right;
    line-height: 20px;
    font-family: Arial;
}
.more a{
    color: #999;
}
.news-title{
    float: left;
    font-size: 14px;
}
.news-list{
    padding: 5px 1px 0;
}
.news-list li{
    line-height: 24px;
    padding: 0 0 1px;
    color: #2884c7;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.aisle-banner-container{
    margin-bottom: 24px;
}
.aisle-wrap{
    float: left;
    width: 196px;
    height: 140px;
    overflow: hidden;
}
.aisle-banner-container .aisle-wrap img{
    display: block;
    width: 100%;
    height: 100%;
}
.banner-wrap{
    float: right;
}
.banner-wrap li{
    width: 238px;
    height: 140px;
    float: left;
    margin-left: 12px;
    overflow: hidden;
}
.aisle-banner-container .banner-wrap li img{
    width: 100%;
    height: 100%;
    display: block;
    vertical-align: middle;
}
.reduced-price .promotion-container{
    background: none;
    border: 0;
    padding: 8px 0 0;
    margin-bottom: 32px;
}
.promotion-container .area-header-wrap{
    border-bottom: 1px solid #f2f2f2;
    padding: 0;
}
.section .area-center .area-header-wrap .area-title{
    float: left;
    line-height: 1;
    padding: 0 0 11px;
}
.section .area-center .area-header-wrap .area-title .title{
    float: left;
    font-size: 20px;
}
.section .area-center .area-header-wrap .area-more{
    float: right;
    font-size: 14px;
    line-height: 24px;
}
.reduced-price .promotion-container ul.product-list{
    width: 1193px;
    margin: 0 auto;
}
.reduced-price .promotion-container ul.product-list li{
    width: 229px;
    background: #fff;
    margin: 0 12px 0 0;
    float: left;
    height: 298px;
    padding: 24px 0 0;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.promotion-container ul.product-list li .product-pic{
    width: 160px;
    height: 160px;
    margin: 0 auto;
    overflow: hidden;
}
.promotion-container ul.product-list li .product-pic img{
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 300ms linear;
    transform: scale(1);
}
.promotion-container ul.product-list li .product-type{
    height: 16px;
    font-size: 14px;
    line-height: 1;
    padding: 7px 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.promotion-container ul.product-list li .product-price{
    font-size: 16px;
    padding: 8px 0 0;
}
.promotion-container ul.product-list li .product-price .present{
    color: #ed1c24;
    padding: 0 8px;
}
.promotion-container ul.product-list li .product-price .original{
    color:#999;
    text-decoration:line-through;
    padding:0 8px;
}
.promotion-container ul.product-list li .product-btn{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
    text-align: center;
}
.promotion-container ul.product-list li .product-btn a{
    display: block;
    width: 98px;
    height: 32px;
    line-height: 32px;
    background-color: #ed1c24;
    border-radius: 5px;
    font-size: 12px;
    margin: 16px auto 0;
    color: #fff;
    cursor: pointer;
}
.reduced-price .promotion-container ul.product-list li.end{
    margin: 0;
}
.section .area-center .area-header-wrap .area-title{
    float: left;
    line-height: 1;
    padding: 0 0 11px;
}
.section .area-center .area-header-wrap .area-title .title{
    float: left;
    font-size: 20px;
}
.section .area-center .area-header-wrap .area-title .gap{
    float: left;
    width: 2px;
    height: 18px;
    margin: 1px 16px 0 15px;
    background-color: #333;
}
.section .area-center .area-header-wrap .area-title .desc{
    float: left;
    font-size: 14px;
    line-height: 20px;
}
.section .area-center .area-header-wrap .area-type-select{
    float: right;
    font-size: 14px;
}
.section .area-center .area-header-wrap .area-type-select li{
    float: left;
}
.section .area-center .area-header-wrap .area-type-select li.gap{
    width: 1px;
    height: 14px;
    margin: 3px 16px 0 15px;
    background-color: #333;
}
.area-list-type-01{
    margin: 0 0 20px -12px;
}
.area-list-type-01 .product-list li{
    width: 290px;
    height: 372px;
    float: left;
    margin: 0 0 12px 12px;
    text-align: center;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}
.area-list-type-01 .product-list li.banner-592x372{
    width: 592px;
    height: 372px;
    float: left;
    margin: 0 0 0 12px;
    overflow: hidden;
}
.area-list-type-01 .product-list li.banner-592x372 img{
    display: block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.area-list-type-01 .product-list li .product-label{
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    text-align: center;
}
.area-list-type-01 .product-list li .product-label span{
    display: inline-block;
    width: 72px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    border-radius: 2px;
    margin: 0 2px;
}
.area-list-type-01 .product-list li .product-pic{
    width: 230px;
    height: 230px;
    margin: 24px auto 0;
    overflow: hidden;
}
.area-list-type-01 .product-list li:hover .product-pic img{
    transform: scale(1.04);
}
.area-list-type-01 .product-list li .product-pic img{
    display: block;
    vertical-align: middle;
    transition: transform 300ms linear;
    transform: scale(1);
    width: 100%;
    height: 100%;
}
.area-list-type-01 .product-list li .product-type{
    height: 16px;
    font-size: 14px;
    line-height: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.area-list-type-01 .product-list li .product-desc{
    color: #999;
    padding: 3px 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.area-list-type-01 .product-list li .product-price{
    font-size: 16px;
    padding: 9px 0 0;
}
.area-list-type-01 .product-list li:hover .product-price{
    display: none;
}
.area-list-type-01 .product-list li .product-price .present{
    color: #ed1c24;
    padding: 0 8px;
}
.area-list-type-01 .product-list li .product-price .original{
    color: #999;
    text-decoration: line-through;
    padding: 0 8px;
}
.area-list-type-01 .product-list li .product-btn{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    transition: transform 300ms linear;
    transform: translateY(33px);
}
.area-list-type-01 .product-list li:hover .product-btn{
    transform: translateY(-32px);
}
.area-list-type-01 .product-list li .product-btn a{
    display: inline-block;
    width: 98px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    border-radius: 5px;
    margin: 0 8px;
}
.area-list-type-01 .product-list li .product-btn a.know{
    background-color: #2884c7;
}
.area-list-type-01 .product-list li .product-btn a.buy{
    background-color: #ed1c24;
}